<!DOCTYPE html>
<html lang="en" ng-app="hospitalKennedy" ng-init='idActual'>

    <head>

        <meta charset="utf-8">
        <!meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hospital de Kennedy</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">


    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <link data-require="datatables@1.9.4" data-semver="1.9.4" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables_themeroller.css" />
        <link data-require="datatables@1.9.4" data-semver="1.9.4" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables.css" />
        <script data-require="datatables@1.9.4" data-semver="1.9.4" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
<toolbar></toolbar>
<!-- Header -->
<header >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="imagenes/1.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Hospital Kennedy</span>
                    <hr class="star-light">
                    <span class="skills">Este hospital atiende a pacientes y recibe de ellos reportes de dolores.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Portfolio Grid Section -->

<section id="portfolio">
    <section>


        <div ng-if="toolbar.isSelected(4)">
            <nuevo-reporte></nuevo-reporte>
        </div>

    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Servicio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
           <!-- <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="imagenes/doc.jpg" class="img-responsive" alt="">
                </a>
            </div> -->
            <div class="col-sm-4 portfolio-item">
                <div align="center"><h4>Agregar Paciente</h4></div>

                <a ng-click="toolbar.selectTab(5)" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="imagenes/paciente.jpg" class="img-responsive" alt="">

                </a>

            </div>

            <div class="col-sm-4 portfolio-item">
                <div align="center"><h4>Agregar Reporte</h4></div>
                <a  class="portfolio-link" data-toggle="modal" ng-click="toolbar.selectTab(7)">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>

                    <img src="imagenes/reporte.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div> 
</section>

<div id="nuevoPaciente" ng-if="toolbar.isSelected(5)" >
    <nuevo-paciente></nuevo-paciente>
</div> 

<div id="nuevoReporte" ng-if="toolbar.isSelected(7)" >
    <nuevo-reporte></nuevo-reporte>
</div> 

<!-- About Section -->
<section ng-if="toolbar.isSelected(2)"  id="pacientes">
    <paciente-info></paciente-info>
</section>

<!-- Contact Section -->
<section id="reportes" ng-show="toolbar.isSelected(3)">
    <reportes></reportes>
</section>

<section id="detalles" ng-if="toolbar.isSelected(6)" >
    <detalles-reporte></detalles-reporte>
</section>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/Hospital.js"></script>
</body>
</html>
