<h2 class="form-title">Reportes del Paciente</h2>
<div class="panel panel-default" ng-controller="pacientesActuales">
    <!-- Default panel contents -->
    <div> Paciente: {{pacienteActual.nombre}} </div>
    <div> Doc. identificacion: {{pacienteActual.id}} </div>
    <div> :P {{pacienteActual}}</div>
    <!-- Table -->
    <table class="table" >
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Gravedad</th>
                <th>Fecha de Creación</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reporte in getReportes.reportesPacientes | orderBy: 'id'">
                <td>{{reporte.id}}</td>
                <td>{{reporte.gravedad}}</td>
                <td>{{reporte.fechaCreacion}}</td>
                <td>Ver</td>
            </tr>
        </tbody>
    </table>
</div> 